---
import { CollectionEntry, getCollection } from "astro:content";
import GameBox from "../../components/GameBox.astro";
import GenreList from "../../components/GenreList.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

export async function getStaticPaths() {
	const games = await getCollection("games");
	return games.map((game) => ({
		params: { slug: game.slug },
		props: game,
	}));
}
type Props = CollectionEntry<"games">;

const game = Astro.props;
const genres = game.data.genres;
const { Content } = await game.render();
---
<style>
.subtitle {
	font-size: 0.75em;
	font-weight: normal;
	margin-left: 10px;
}
</style>

<BaseLayout>
	<h1>{game.data.title}{game.data.subtitle !== undefined && <span class="subtitle">{game.data.subtitle}</span>}</h1>
	
	<GameBox game={game}/>
	<Content />
	<div>Release: {game.data.release}</div>
	<GenreList genres={genres} />
	{game.data.wikipedia !== undefined && <a href={game.data.wikipedia} target="_blank"> Link to Wikipedia article</a>}
</BaseLayout>
