---
const { shortName, gameTitle, category } = Astro.props;
const frontCover = "/mega-drive/" + category + "/" + shortName + "/front-cover.jpg";
---

<style>
  img {
    max-height: 280px;
  }

  figcaption {
    text-align: center;
    max-width: 205px;
  }
</style>
<div class="game-card" data-title={gameTitle}>
  <a href={"/mega-drive/" + category + "/" + shortName}>
    <figure>
      <img class="image-cover" src={frontCover} title={gameTitle} alt={gameTitle} />
      <figcaption>{gameTitle}</figcaption>
    </figure>
  </a>
</div>
